

.field-description{
    height: 200px;
    align-items: start !important;
}

.field-description::before {
    margin: 0px;
    width: fit-content;
    margin-right: 7.2rem;
}
.field-description textarea {
    width: fit-content;
    height: 160px;    
}


@media screen and (min-width: 768px) {
    .field-description::before {
        margin-right: 7.9rem;

    }
    .field-description textarea {
        width: 500px ;   
    }
}

@media screen and (min-width: 1024px) {
    .field-title  {
        width: 200px ;    
    }
    .field-description  {
        width: 480px ;    
    }
    .field-description textarea {
        width: 450px ;   
    }
}

@media screen and (min-width: 1440px) {
    .field-title  {
        width: 250px ;    
    }
    .field-description  {
        width: 500px ;    
    }
    .field-description textarea {
        width: 450px ;   
    }
}



@media screen and (min-width: 1840px) {
    .field-title  {
        width: 300px ;    
    }
    .field-description  {
        width: 900px ;    
    }
    .field-description textarea {
        width: 850px ;   
    }
}
