{% extends 'registration/base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <br><br>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <br><br>
        {% comment %} <a href="{% url 'signup' %}">Sign Up</a> {% endcomment %}
        <br><br>
        <a href="{% url 'dashboard' %}">Home</a>
    </form>
{% endblock content %}